<mat-card class="question-card" [formGroup]="formQuestionsBuilder">
  <div class="questions-builder">

    <h2>Questions Builder</h2>

    <div class="questions-builder__item">
      <p class="question-card__title">Enter the question text</p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Question title</mat-label>
        <textarea
          formControlName="questionTitle"
          name="questionTitle"
          #questionTitle
          matInput>
      </textarea>
        <mat-hint align="end">{{questionTitle.value?.length || 0}}/250</mat-hint>
        <mat-error *ngIf="formQuestionsBuilder.controls['questionTitle'].hasError('required')">
          Field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="questions-builder__item">
      <p class="question-card__title">Select question type</p>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="questionType">
        <mat-radio-button class="example-radio-button" *ngFor="let type of selectedType" [value]="type.questionType">
          {{type.value | json}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="questions-builder__item" *ngIf="['radio', 'checkbox'].includes(questionTypeControl.value)">
      <p class="question-card__title">
        <span class="question-card__titleText">
          Add answers choices to the question
        </span>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="addNewAnswer()">
          <mat-icon>add</mat-icon>
        </button>
      </p>

      <div *ngIf="lengthArrayAnswer >= maxAnswers" class="questions-builder__notification">
        Maximum number of responses {{ maxAnswers }}
      </div>

      <ng-container *ngFor="let control of options; let idx = index">
        <div class="question-card__answers" [formGroup]="control">

          <mat-form-field class="question-card__answerField" appearance="fill">
            <mat-label>Write the text of the answer option</mat-label>
            <input
              formControlName="title"
              #title
              matInput>
            <mat-hint align="end">{{title.value?.length || 0}}/250</mat-hint>
            <mat-error *ngIf="formQuestionsBuilder.controls['answers'].hasError('required')">
              Field is required
            </mat-error>
          </mat-form-field>

          <button mat-mini-fab color="warn"
                  aria-label="Example icon button with a home icon"
                  [disabled]="lengthArrayAnswer < 3"
                  (click)="removeAnswer(idx)">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </ng-container>
    </div>


    <div class="question-card__btn">
      <button mat-raised-button color="primary" [disabled]="formQuestionsBuilder.invalid" (click)="submitQuestion()">
        Create
      </button>
    </div>

<!--    <pre> {{ formQuestionsBuilder.value | json }} </pre>-->

  </div>
</mat-card>

