.questions-builder {
  h2 {
    text-align: center;
  }

  &__item {
    margin: 0 0 30px;
  }

  &__notification {
    color: #ff4081;
    margin: 20px 0 30px;
    font-weight: 500;
    font-size: 17px
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
  }
}
