/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.question-card {
  margin: 0 0 20px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__titleText {
    display: inline-block;
    width: 100%;
    max-width: 285px;
  }

  &__answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__answerField {
    margin: 0 30px 0 0;
    flex-grow: 1;
  }

  &__btn {
    text-align: right;
    button {
      width: 200px;
    }
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
